

.dashboardProductTable{
    background-color: white;
    padding: 2rem;
    overflow: auto;
   
}

.addProductBtn{
    position: fixed;
    top: 2rem;
    right: 2rem;
    @include flex(row,center,center,0);
    @include square(2.5rem);
    // padding: 1rem;
    background-color:rgb(201,9,9);
    color: white;
    border-radius: 50%;

    &:hover{
        opacity: 0.7;
    }
}